<div class="container">
  <div class="alert alert-success" [hidden]="!showCreatedNewSuccessMsg">
    <strong>Success!</strong> Company successfully created.
  </div>
  <button class="btn btn-primary" (click)="toggleShowNew()" *ngIf="!showDetail">Add Business</button>
  <app-create-company [hidden]="!showNew" (companyCreated)="onCompanyCreated($event)"></app-create-company>
  <app-company-detail [hidden]="!showDetail" [companyIdSubject]="selectedCompanyId" (closeDetail)="onCloseDetail()"></app-company-detail>
  <app-company-edit [hidden]="!showEdit" [companyIdSubject]="selectedCompanyId" (closeEdit)="onCloseEdit()" (companyEdited)="onCompanyEdited($event)"></app-company-edit>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Category</th>
        <th>Phone</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.name }}</td>
        <td>{{ company.category }}</td>
        <td>{{ company.phone }}</td>
        <td>
          <button (click)="toggleShowDetail(company.id)" class="btn btn-primary">More</button>
          <button (click)="toggleShowEdit(company.id)" class="btn btn-default">Edit</button>
          <button (click)="deleteCompany(company.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>